build*/*
.vscode/*
installer/bin/*
installer/redist/*
installer/Output/*
installer/installer.iss

.vs/
Release/
x64/
x86/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

CMakeCache.txt
CMakeFiles/
*.cmake

deps/*
include/